.Conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}


.Conatiner input {
    width: 300px;
    height: 30px;

}


.no-outline:focus {
    outline: none;
}

.no-outline {
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    border: 2.5px solid lightseagreen;
    font-size: 20px;
    font-weight: 600;
}

.btn {
    margin-top: 20px;
    text-align: center;
    border: 2.5px solid #e8e815;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    background-color: lightseagreen;
    color: #222;
}