/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 25%;
    height: 60vh;
    background-color: #a5bbdd;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.inputData {
    padding: 20px;
}

.inputData input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}

i {
    font-size: 60px;
    margin-right: 30px;
}

.info {
    margin-top: 20%;
}

.info .temp {
    font-size: 30px;
    margin: 20px 0 20px 0;
}

.info h3 {
    font-size: 20px;
    font-weight: 400;
}

.wave1 {
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -20rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}

.wave2 {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}

.wave3 {
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
}

.box::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
} */


h1 {
    color: red;
}

.btn {


    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;



}

.btn:hover {

    transform: scale(1.04);
    background-color: #21e065;

}

.cnt {
    margin-top: 13%;

}