.Table tr,
td {

    border: 1px solid black;
    border-collapse: collapse;

}



.Table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.Table ,th{
    text-align: center;
   
   
}


.heading{
    background-color: dodgerblue;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.Tdata{
    background-color: yellow;
    color: black;
    font-weight: 600;
    font-size: 23px;
   
}

h2{
    color: aliceblue;
}
.btn{
    font-size: 22px;
    border-radius: 15px;
    border: 1px solid grey;
    font-weight: 600;

}
.from{
    margin-top: 20px;
}

.no-outline:focus {
    outline: none;
  }

  input{
    background-color: #eee;
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; */
  }