.Table tr,
td {

    border: 1px solid black;
    border-collapse: collapse;

}



.Table {
    margin-left: auto;
    margin-right: auto;
}

.Table ,th{
    text-align: left;
   
   
}


.heading{
    background-color: skyblue;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.Tdata{
    background-color: yellow;
    color: black;
    font-weight: 600;
    font-size: 16.5px;
}

h2{
    color: aliceblue;
}